@import "../../node_modules/antd/dist/antd.css";

.App {
  text-align: center;
  flex-direction: column;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#mainNav {
  width: 100%;
  position: fixed;
  text-align: right;
}

#mainNavLeft {
  float: left;
}

#mainNavRight {
  width: 50%;
  float: right;
  display: inline-block;
}

#userNavData {
  display: inline-block;
  width: 20%;
  background-color: white;
  margin: 2px;
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
}

#userPicNav {
  display: inline-block;
  float: left;
}

#userNameNav {
  display: inline-block;
  margin-left: 3px;
  float: left;
}

#navLogoutButton {
  display: inline-block;
  float: right;
  margin-top: 2px;
  margin-left: 10px;
}
